<!DOCTYPE html>
<html lang="en">

<head>
    <title>EaglesTroop | Contacts</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/cufon-yui.js"></script>
    <script src="js/cufon-replace.js"></script>
    <script src="js/Glegoo_400.font.js"></script>
    <script src="js/FF-cash.js"></script>
    <script src="js/script.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="page6">
    <header>
        <div class="main">
            <div class="wrapper">
                <h1><a href="index.html">EaglesTroop</a></h1>
                <nav class="fright">
                    <ul class="menu">
                        <li><a href="index.html">About</a></li>
                        <li><a href="foundation.html">Foundation</a></li>
                        <li><a href="program.html">Program</a></li>
                        <li><a href="leaders.html">Leaders</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a class="active" href="contacts.html">Contacts</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section id="content">
        <div class="main">
            <div class="container_12">
                <div class="wrapper">
                    <article class="grid_8">
                        <h2>Log In</h2>
                        <div id="contact-form" action="#" method="post" enctype="multipart/form-data">
                            <fieldset>

                                <label>
                                    <input name="email" value="Email:" onBlur="if(this.value=='') this.value='Email:'"
                                        onFocus="if(this.value =='Email:' ) this.value=''" />
                                </label>
                                <label>
                                    <input name="password" value="Password:"
                                        onBlur="if(this.value=='') this.value='Phone:'"
                                        onFocus="if(this.value =='Phone:' ) this.value=''" />
                                </label>

                                <div class="buttons"> <a class="button2" href="#">lear</a> <a class="button2"
                                        href="#">Log In</a> </div>
                            </fieldset>
                        </div>
                    </article>
                </div>
                <div class="wrapper">
                    <article class="grid_8">
                        <h2>Sign Up</h2>
                        <div id="contact-form" action="#" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <label>
                                    <input name="name" value="Name:" onBlur="if(this.value=='') this.value='Name:'"
                                        onFocus="if(this.value =='Name:' ) this.value=''" />
                                </label>
                                <label>
                                    <input name="email" value="Email:" onBlur="if(this.value=='') this.value='Email:'"
                                        onFocus="if(this.value =='Email:' ) this.value=''" />
                                </label>
                                <label>
                                    <input name="password" value="Password:"
                                        onBlur="if(this.value=='') this.value='Phone:'"
                                        onFocus="if(this.value =='Phone:' ) this.value=''" />
                                </label>
                                <label>
                                    <input name="username" value="Username:"
                                        onBlur="if(this.value=='') this.value='Phone:'"
                                        onFocus="if(this.value =='Phone:' ) this.value=''" />
                                </label>
                                <label>
                                    <input name="phone" value="Phone:" onBlur="if(this.value=='') this.value='Phone:'"
                                        onFocus="if(this.value =='Phone:' ) this.value=''" />
                                </label>

                                <div class="buttons"> <a class="button2" href="#">Clear</a> <a class="button2"
                                        href="#">Register</a> </div>
                            </fieldset>
                        </div>
                    </article>
                </div>
                <div class="wrapper">
                    <article class="grid_8">
                        <h2>Verify OTP</h2>
                        <div id="contact-form" action="#" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <label>
                                    <input name="otp" value="OTP:" onBlur="if(this.value=='') this.value='Name:'"
                                        onFocus="if(this.value =='Name:' ) this.value=''" />
                                </label>
                                <div class="buttons"> <a class="button2" href="#">clear</a> <a class="button2"
                                        href="#">send</a> </div>
                            </fieldset>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="main">
            <div class="container_12">
                <div class="wrapper">
                    <div class="grid_8">
                        <div class="aligncenter">Copyright &copy; <a href="#">Domain Name</a> All Rights Reserved
                            <span>Design by <a target="_blank"
                                    href="http://www.templatemonster.com/">TemplateMonster.com</a></span></div>
                    </div>
                    <div class="grid_3 prefix_1">
                        <ul class="list-services">
                            <li><a href="#"></a></li>
                            <li class="item-1"><a href="#"></a></li>
                            <li class="item-2"><a href="#"></a></li>
                            <li class="item-3"><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        Cufon.now();
    </script>
</body>

</html>