<div class="container_12">
    <div class="wrapper p3">
        <article class="grid_4">
            <div class="banner">
                <figure><img src="images/banner-1.png" alt=""></figure>
                <a class="button" href="#">more</a>
            </div>
        </article>
        <article class="grid_4">
            <div class="banner">
                <figure><img src="images/banner-2.png" alt=""></figure>
                <a class="button" href="#">more</a>
            </div>
        </article>
        <article class="grid_4">
            <div class="banner">
                <figure><img src="images/banner-3.png" alt=""></figure>
                <a class="button" href="#">more</a>
            </div>
        </article>
    </div>
    <div class="wrapper">
        <article class="grid_8">
            <h2 class="p1">Our Gallery</h2>
            <div class="slideshow-container">
                <div id="slideshow" class="slideshow"></div>
            </div>
            <div id="thumbs" class="navigation p3">
                <ul class="thumbs noscript">
                    <li><a class="thumb" href="images/gallery-img1.jpg"><img src="images/thumb-1.png" alt=""></a></li>
                    <li><a class="thumb" href="images/gallery-img2.jpg"><img src="images/thumb-2.png" alt=""></a></li>
                    <li class="last"><a class="thumb" href="images/gallery-img3.jpg"><img src="images/thumb-3.png"
                                alt=""></a></li>
                    <li class="last2"><a class="thumb" href="images/gallery-img4.jpg"><img src="images/thumb-4.png"
                                alt=""></a></li>
                    <li class="last2"><a class="thumb" href="images/gallery-img5.jpg"><img src="images/thumb-5.png"
                                alt=""></a></li>
                    <li class="last3"><a class="thumb" href="images/gallery-img6.jpg"><img src="images/thumb-6.png"
                                alt=""></a></li>
                </ul>
            </div>
            <a class="button2" href="#">more</a>
        </article>
        <article class="grid_4">
            <div class="indent-top">
                <h3 class="img-indent-bot">Gallery Updates</h3>
                <div class="indent-left p4">
                    <p class="prev-indent-bot">Consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                        accusam et justo duo dolores rebum. </p>
                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua vero eos
                        et accusam.</p>
                    <div id="status"></div>
                    <button class="button2" onclick="fetch()">Load</button>
                </div>
                <h3 class="indent-bot">Our Archive</h3>
                <div class="indent-left">
                    <ul class="list-2">
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#">Consetetur sadipscing elitr sed diam </a></li>
                        <li><a href="#">Nonumy eirmod tempor invidunt ut </a></li>
                        <li><a href="#">Labore et dolore magna</a></li>
                        <li><a href="#">Aliquyam erat sed diam voluptua</a></li>
                        <li><a href="#">Vero eos et accusam et justo duo </a></li>
                        <li><a href="#">Stet clita kasd gubergren</a></li>
                        <div id="fetched-data"></div>
                        <li class="last-item"><a href="#">Sea takimata sanctus est lorem </a></li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</div>

<script>
    var fetch = () => {

        var d = "";
        username = "yes";
        var data = {
            'username': username,
        };
        console.log(data);
        var status = $('#status');
        $.ajax({
            type: "POST",
            url: "/auth/dashboard",
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: 'json',
            success: (res) => {

                console.log("success", res['fdata']);
                // localStorage.setItem('access_token', res.access_token);

                // status.html("You are authorised");
                // status.css("color", "green");

                // window.location.replace('/dashboard');

            },
            error: (err) => {
                console.log("err", err);


            }
        });
    }
</script>