<div class="container_12">
    <div class="wrapper">
        <article class="grid_8">
            <h2>Log In</h2>
            <div id="contact-form" action="#" method="post" enctype="multipart/form-data">
                <fieldset>

                    <label>
                                    <input name="email" value="Email:" onBlur="if(this.value=='') this.value='Email:'"
                                        onFocus="if(this.value =='Email:' ) this.value=''" />
                                </label>
                    <label>
                                    <input name="password" value="Password:"
                                        onBlur="if(this.value=='') this.value='Phone:'"
                                        onFocus="if(this.value =='Phone:' ) this.value=''" />
                                </label>

                    <div class="buttons"> <a class="button2" href="#">lear</a> <a class="button2" href="#">Log In</a> </div>
                </fieldset>
            </div>
        </article>
    </div>

</div>