<div class="container_12">
    <div class="wrapper">
        <article class="grid_8">
            <h2>Sign Up</h2>
            <div id="contact-form" action="#" method="post" enctype="multipart/form-data">
                <fieldset>
                    <label>
                                    <input name="name" value="Name:" onBlur="if(this.value=='') this.value='Name:'"
                                        onFocus="if(this.value =='Name:' ) this.value=''" />
                                </label>
                    <label>
                                    <input name="email" value="Email:" onBlur="if(this.value=='') this.value='Email:'"
                                        onFocus="if(this.value =='Email:' ) this.value=''" />
                                </label>
                    <label>
                                    <input name="password" value="Password:"
                                        onBlur="if(this.value=='') this.value='Phone:'"
                                        onFocus="if(this.value =='Phone:' ) this.value=''" />
                                </label>
                    <label>
                                    <input name="username" value="Username:"
                                        onBlur="if(this.value=='') this.value='Phone:'"
                                        onFocus="if(this.value =='Phone:' ) this.value=''" />
                                </label>
                    <label>
                                    <input name="phone" value="Phone:" onBlur="if(this.value=='') this.value='Phone:'"
                                        onFocus="if(this.value =='Phone:' ) this.value=''" />
                                </label>

                    <div class="buttons"> <a class="button2" href="#">Clear</a> <a class="button2" href="#">Register</a> </div>
                </fieldset>
            </div>
        </article>
    </div>