<!DOCTYPE html>
<html lang="en">

<head>
    <title>StandBy 🛡</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/cufon-yui.js"></script>
    <script src="js/cufon-replace.js"></script>
    <script src="js/Glegoo_400.font.js"></script>
    <script src="js/FF-cash.js"></script>
    <script src="js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <div class="header">
        <div class="wrapper">
            <h1><img src="images/logo.png" alt="logo.png"></h1>
            <nav class="fright">
                <ul class="menu">
                    <li><a class="active" href="/">About</a></li>
                    <li><a href="/login">Log In </a></li>
                    <li><a href="/register">Sign Up</a></li>

                    <li><a href="/dashboard">Dashboard </a></li>

                </ul>
            </nav>
        </div>
    </div>


    <div id="main">


        <main>
            <%- body %>
        </main>
    </div>



    <br><br><br>
    <div class="footer">
        <div class="container_12">
            <div class="wrapper">
                <div class="grid_8">
                    <div class="aligncenter">Copyright &copy; <a href="#">StandBy</a> All Rights Reserved
                        <span>Design by <a target="_blank" href="#">StandBy.com</a></span></div>
                </div>
                <div class="grid_3 prefix_1">
                    <ul class="list-services">
                        <li>
                            <a href="#"></a>
                        </li>
                        <li class="item-1">
                            <a href="#"></a>
                        </li>
                        <li class="item-2">
                            <a href="#"></a>
                        </li>
                        <li class="item-3">
                            <a href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</body>

</html>